body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #434455;
}

header {
  justify-content: space-between;

  padding: 20px;
}

nav {
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  margin-right: 20px;
}
nav a:hover {
  background-color: rgb(209, 234, 236);
}

nav ul {
  list-style: none;

  margin: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

address {
}

address ul {
  list-style: none;

  margin: 0;
  padding: 0;
}

address ul li {
  margin-left: 20px;
}

address ul li a {
  color: black;
  text-decoration: none;
}
address ul li a:hover {
  background-color: rgb(209, 234, 236);
}

.hero {
  background-color: #2e2f42;

  color: white;
}
.hero_footer {
  background-color: #2e2f42;
  color: white;
  text-align: left;
}
.hero_footer p {
  color: white;
  text-align: left;
}
.hero_footer a {
}

.logo {
  color: blue;
  font-size: 20px;
}
.logo-footer {
  color: white;
}

.hero h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 2%;
  margin-bottom: 20px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.hero button {
  background-color: #4d5ae5;

  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;

  transition: background-color 0.3s ease;
}
.hero button:hover {
  background-color: #8c4de5;
}
.section_1 {
  justify-content: space-around;
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
}
.section_1-card {
}

.section_1-card h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
  text-align: left;
}

.section_1-card p {
  color: black;
  font-size: 1em;
  text-align: left;
}
.Portfolio_center {
  text-align: center;
}
.section_3 {
  margin: auto;

  top: 1868px;
  left: 156px;

  border: 1px 0px 0px 0px;
  opacity: 0px;
  border-width: 1px, 1px, 1px, 1px;

  border-color: #e7e9fc;
}

.ROW_1 {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  max-width: 1200px;
  margin: auto;

  opacity: 0px;
  border-width: 1px, 1px, 1px, 1px;

  background: #ffffff;
}
.ROW_2 {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  margin: auto;

  max-width: 1200px;

  opacity: 0px;
  border-width: 1px, 1px, 1px, 1px;

  background: #ffffff;
}

.card {
  opacity: 0px;
  background: #ffffff;
  text-align: center;
}

.card img {
}

.card h3 {
  margin: 15px 0 10px;
  font-size: 1.2em;
}

.card p {
  color: #555;
  font-size: 1em;
  margin: 0;
}
.section_2 {
  opacity: 0px;
  background: #f4f4fd;
}

.Our_Team-center {
  margin: auto;
}
.sector2_card {
}

.Our_Team {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  margin: auto;

  opacity: 0px;
}

a {
  text-decoration: none;
}
